.education-list {
    margin-top: 10px;
}

.education-item {
    padding: 18px 0;
    border-bottom: 1px solid #242424;
}

.education-item:last-child {
    border-bottom: none;
}

.institution {
    font-size: 1.1rem;
    font-weight: 600;
    color: #F5F5F5;
    margin-bottom: 3px;
}

.study {
    font-size: 0.9rem;
    color: #8D8D8D;
}

.education-list h3 {
    margin-top: 30px;
    margin-bottom: 5px;
}